<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Tag name</label>
            <input type="text" name="q" class="form-control" id="search-input"
                placeholder="Nhập từ khóa tìm kiếm...">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="gender-input">Tag name</label>
            <select type="text" name="gender" class="form-control" id="gender-input">
                <option value="">-- Chọn giới tinh --</option>
                <option value="nam">nam</option>
                <option value="nu">nữ</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>